# Part 2 of RAVDESS Emotional Speech Recognition project by Anuj Soni (mcsnipe97)

## Preprocesssing
---
In this ipynb, we will calculate the mfccs of each audio file and save them to csv file to use for model training and testing.

In [8]:
import pandas as pd
import librosa
import librosa.display
import numpy as np

In [9]:
rav_df = pd.read_csv('pathData.csv')
rav_df.head()

         labels   source                                               path
0  male_neutral  RAVDESS  data\audio_speech_actors_01-24\Actor_01\03-01-...
1  male_neutral  RAVDESS  data\audio_speech_actors_01-24\Actor_01\03-01-...
2  male_neutral  RAVDESS  data\audio_speech_actors_01-24\Actor_01\03-01-...
3  male_neutral  RAVDESS  data\audio_speech_actors_01-24\Actor_01\03-01-...
4  male_neutral  RAVDESS  data\audio_speech_actors_01-24\Actor_01\03-01-...

In [10]:
#Takes a while to extract features from all files AND append them to a dataframe `df`.

df = pd.DataFrame(columns = ['feature'])

counter = 0
for index, path in enumerate(rav_df.path):
    X, sample_rate = librosa.load(path, res_type='kaiser_fast', duration=2.5, sr = 44100, offset = 0.5)
    sample_rate = np.array(sample_rate)
    
    mfccs = np.mean(librosa.feature.mfcc(y=X, sr = sample_rate, n_mfcc = 13), axis=0)
    df.loc[counter] = [mfccs]
    counter+=1

                                             feature
0  [-65.80097, -65.80097, -65.80097, -65.80097, -...
1  [-61.84994, -62.89504, -63.830635, -60.552586,...
2  [-65.81886, -65.81886, -65.81886, -65.81886, -...
3  [-66.05848, -66.05848, -66.05848, -66.05848, -...
4  [-70.26777, -70.26777, -70.26777, -70.26777, -...

In [13]:
df = pd.concat([rav_df, pd.DataFrame(df['feature'].values.tolist())], axis=1)

In [15]:
df.to_csv('pathFeature.csv')